---
import Layout from "../layouts/Layout.astro";
---

<Layout title="rm9.jp">
  <main>
    <!-- saved from url=(0023)https://vultr.qqey.net/ -->
    <html>
      <head>
        <style>
          html {
            color-scheme: light dark;
          }
          body {
            width: 35em;
            font-family:
              Noto Sans,
              Arial,
              sans-serif;
          }
        </style>
        <body class="vsc-initialized" cz-shortcut-listen="true">
          <h1>rm9.jp</h1>
          <p>rm9.jpとは、qqey.netが提供するサービスです。</p>
          <h2>Services</h2>
          <ul>
            <li>
              <a href="https://ddns.rm9.jp">ダイナミックDNS - Rhea(開発中)</a>
            </li>
            <li>
              <a href="https://alexa.rm9.jp">Alexa地震通知 - Gaia(開発中)</a>
            </li>
          </ul>
        </body>
      </head>
    </html>
  </main>
</Layout>
